$height: 100vh;
$width: 100vw;

body {
  margin: 0;
}
#jordanI {
  position: absolute;
  height: $height;
  width: $width;
}
#superstar {
  height: $height;
  width: $width;
  position: absolute;
  top: 0;
  left: 100vw;
}
svg {
  position: absolute;
}
body {
  overflow: hidden;
}
a { 
  position: absolute;
  z-index: 9999;
}
