$height: 100vh;
$width: 100vw;

#jordanI {
  position: absolute;
  height: $height;
  width: $width;
}
#superstar {
  height: $height;
  width: $width;
  position: absolute;
  top: 0;
  left: 100vw;
}
svg {
  position: absolute;
}
body {
  overflow: hidden;
}
