    <div id="jordanI" > 
    <a class='left' href='#superstar'> > </a>
      <%= render 'jordanI' %>
    </div>
     <div id="superstar" >
      <a class='right' href='#jordanI'> < </a>
      <%= render 'superstar' %>
    </div>