    <!-- Landing Page -->
    <div id='mobile'>
      <h1> View In Landscape</h1>
    </div>
    <div id="front">
      <h1 class='main-title'> ILLUSTRATIONS </h1>
      <h2 class='sub-title'> of dope shoes </h2>
    <a href='http://josephgochua.com' target="_blank">By: Joseph Go Chua</a><br>
    <button class='start'> start </button>
    </div>
    <!-- JORDAN I -->
    <div id="jordanI" >
      <div class="more-info hidden">
        <h1 class='info-title'> AIR JORDAN I </h1>
        <iframe id='video1'class ='video'src="https://www.youtube.com/embed/ZSuvAuCyXzo" frameborder="0" allowfullscreen></iframe>
        <div class='exit-container'>
          <button class='exit'> exit </button>
        </div>
      </div> 
      <a class='left' href='#front'> < </a>
      <a class='right' href='#airmax95'> > </a>
      <div class='title-container'>
        <h2 class='title'> AIR JORDAN I </h2>
      </div>
      <div class ='info-container'>
        <button class='info'> more info </button>
      </div>
      <%= render 'jordanI' %>
    </div>
    <!-- AIRMAX 95 -->
    <div id="airmax95" >
      <div class="more-info hidden">
        <h1 class='info-title'> AIRMAX 95 </h1>
        <iframe id='video2' src="https://www.youtube.com/embed/Qt9GwNBulIE" frameborder="0" allowfullscreen></iframe>
        <div class='exit-container'>
          <button class='exit'> exit </button>
        </div>
      </div> 
      <a class='left' href='#jordanI'> < </a>
       <a class='right' href='#superstar'> > </a>
      <div class='title-container'>
      <h2 class='title'> AIRMAX 95 </h2>
    </div>
      <div class ='info-container'>
        <button class='info'> more info </button>
      </div>
      <%= render 'airmax95' %>
    </div>
    <!-- Adidas Superstar -->
     <div id="superstar" >
      <div class="more-info hidden">
        <h1 class='info-title'> ADIDAS SUPERSTAR </h1>
        <iframe id='video2' src="https://www.youtube.com/embed/dA8DsUN6g_k?" frameborder="0" allowfullscreen></iframe>
        <div class='exit-container'>
          <button class='exit'> exit </button>
        </div>
      </div> 
      <a class='left' href='#airmax95'> < </a>
      <div class='title-container'>
      <h2 class='title'> ADIDAS SUPERSTAR </h2>
    </div>
      <div class ='info-container'>
        <button class='info'> more info </button>
      </div>
      <%= render 'superstar' %>
    </div>
    <!-- Placeholder for next show -->
     <div id="superstar" >
      <div class="more-info hidden">
        <h1 class='info-title'> ADIDAS SUPERSTAR </h1>
        <iframe id='video2' src="https://www.youtube.com/embed/dA8DsUN6g_k?" frameborder="0" allowfullscreen></iframe>
        <div class='exit-container'>
          <button class='exit'> exit </button>
        </div>
      </div> 
      <a class='left' href='#airmax95'> < </a>
      <div class='title-container'>
      <h2 class='title'> ADIDAS SUPERSTAR </h2>
    </div>
      <div class ='info-container'>
        <button class='info'> more info </button>
      </div>
      <%= render 'superstar' %>
    </div>
