    <div id="front">
      <h1 class='main-title'> ILLUSTRATIONS </h1>
      <h2 class='sub-title'> of dope shoes </h2>
    <a href='http://josephgochua.com'>By: Joseph Go Chua</a><br>
    <button class='start'> start </button>
    </div>
    <div id="jordanI" >
      <div class="more-info hidden">
        <h1 class='info-title'> AIR JORDAN I </h1>
        <iframe src="https://www.youtube.com/embed/ZSuvAuCyXzo" frameborder="0" allowfullscreen></iframe>
        <div class='exit-container'>
          <button class='exit'> exit </button>
        </div>
      </div> 
      <a class='right' href='#superstar'> > </a>
      <div class='title-container'>
        <h2 class='title'> AIR JORDAN I </h2>
      </div>
      <div class ='info-container'>
        <button class='info'> more info </button>
      </div>
      <%= render 'jordanI' %>
    </div>
     <div id="superstar" >
      <a class='left' href='#jordanI'> < </a>
      <div class='title-container'>
      <h2 class='title'> ADIDAS SUPERSTAR </h2>
    </div>
      <%= render 'superstar' %>
    </div>