    <div id="jordanI" >
      <div class="more-info hidden">
      </div> 
      <a class='right' href='#superstar'> > </a>
      <div class='title-container'>
        <h2 class='title'> AIR JORDAN I </h2>
      </div>
      <div class ='info-container'>
        <button class='info'> more info </button>
      </div>
      <%= render 'jordanI' %>
    </div>
     <div id="superstar" >
      <a class='left' href='#jordanI'> < </a>
      <div class='title-container'>
      <h2 class='title'> ADIDAS SUPERSTAR </h2>
    </div>
      <%= render 'superstar' %>
    </div>