    <div id='nav-buttons'>
      <a href='#duex' id='left'> left </button>
      <button id='right'> right </button>
    </div>  
    <div id="superstar" >
      <%= render 'superstar' %>
    </div>
    <div id="duex" >
      yo
      <%= render 'superstar' %>
    </div>
